@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Color Variables */
:root {
  --main-bg-color: #1a1a2e;
  --secondary-bg-color: #16213e;
  --container-bg-color: rgba(26, 26, 46, 0.8);
  --text-color: white;
  --btn-color: lightblue;
  --btn-hover-color: black;
  --task-bg-color: #16213e;
  --completed-task-opacity: 0.6;
  --input-bg-color: #16213e;
  --footer-bg-color: rgba(26, 26, 46, 0.8);
  --footer-shadow-color: rgba(255, 255, 255, 0.5);
  --background-blur: blur(1px);
  --footer-blur: blur(5px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(
    135deg,
    var(--main-bg-color),
    var(--secondary-bg-color)
  );
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.custom-bg {
  /* background: url("./img/bg.png") no-repeat center center/cover; */
  backdrop-filter: var(--background-blur);
  -webkit-backdrop-filter: var(--background-blur);
}

.container {
  background: var(--container-bg-color);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px var(--footer-shadow-color);
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
  animation: slideIn 1s ease;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.5em;
  text-shadow: 0 0 10px var(--text-color);
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 1em;
  border: none;
  background: var(--input-bg-color);
  border-radius: 5px 0 0 5px;
  color: var(--text-color);
}

input:focus,
select:focus,
button:focus,
option:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background: var(--btn-color);
  color: var(--main-bg-color);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 0 5px 5px 0;
}

button:hover {
  background: var(--btn-hover-color);
  color: var(--btn-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: var(--task-bg-color);
  margin-bottom: 10px;
  padding: 15px 15px 0 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-text {
  flex-grow: 1;
  margin-right: 10px;
}

.task-actions button {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 3px;
}

.completed {
  opacity: var(--completed-task-opacity);
  text-decoration: line-through;
}

.completed::before {
  content: "✓ ";
}

.task-date {
  font-size: 0.6em;
  opacity: 0.7;
  text-align: left;
  padding: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  background: var(--footer-bg-color);
  box-shadow: 0 0 10px var(--footer-shadow-color);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  backdrop-filter: var(--footer-blur);
  -webkit-backdrop-filter: var(--footer-blur);
}

.filters {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

#filter,
#sort {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  border: none;
  background: var(--input-bg-color);
  border-radius: 5px;
  padding: 5px;
  color: var(--text-color);
}

select {
  -webkit-appearance: none; /* For Chrome */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* For other browsers */
  background: var(--input-bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

option {
  background: var(--input-bg-color);
  color: var(--text-color);
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
    position: fixed;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    position: relative;
  }
}

.top-settings {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 0.5em;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  backdrop-filter: var(--footer-blur);
  -webkit-backdrop-filter: var(--footer-blur);
}

.theme-toggler {
  cursor: pointer;
  color: var(--text-color);
  border-radius: 50px;
}

.task-text {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
  flex-grow: 1;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: scroll;
}

.btn-red {
  background: red;
  color: white;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }

  input[type="text"] {
    padding: 8px;
    font-size: 0.9em;
  }

  button {
    padding: 8px 15px;
    font-size: 0.9em;
  }

  .task-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .task-actions button {
    padding: 4px 8px;
    font-size: 0.7em;
  }
}

/* Made by Aziz Khasyi */
